// Type Kit

@font-face {
  font-family: "Manrope Regular";
  src: url(../../assets/) format("opentype");
}
@font-face {
  font-family: "Manrope Bold";
  src: url(../../assets/fonts/Manrope-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Manrope Light";
  src: url(../../assets/fonts/Manrope-Light.ttf) format("opentype");
}

@font-face {
  font-family: "Manrope Medimum";
  src: url(../../assets/fonts/Manrope-Medium.ttf) format("opentype");
}
