.product-card{
    margin: 1rem 0 0;
    text-decoration: none;
    color: black;
    &__img{
        height: 15rem;
        width: 15rem
    }

    &__title{
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;

    }

    &__type{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}