@use "../../Styles/Partials/variables" as *;

.nav {
  background-color: $Main-Color;
  padding-top: 1rem;

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  &__logo {
    &-image {
      font-size: 3.812rem;
      font-weight: 500;
      color: #fff;
      margin-bottom: 0.2rem;
      cursor: pointer;
      font-family: $font-medimum;
    }
  }
  &__bar {
    margin: 0 3rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 3rem;
    align-self: flex-end;

    &--item {
      color: $Secondary-Color;
      font-size: 1.1rem;
      cursor: pointer;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
      font-family: $font-medimum;
      text-decoration: none;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}
.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
